# .gitignore

# Ignore node_modules
node_modules/

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore any build or distribution folders
dist/
build/

# Ignore any OS-specific files
.DS_Store
Thumbs.db

.csv